 
 /* buttons */
 
 .btn-general {
    font-family: 'Raleway', sans-serif;
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-home {
    color: #fff;
    border: 1px solid #fff;
}

.btn-home:hover,
.btn-home:focus {
    color: #fff;
    background-color: #f25f5c;
    border: 1px solid #f25f5c;
}

.btn-orange {
    color: #fff;
    background-color: #f25f5c;
    border: 1px solid #f25f5c;
}

.btn-orange:hover,
.btn-orange:focus {
    color: #fff;
    background-color: #50514f;
    border: 1px solid #50514f;
}