 /* preloader */
 .preloader {
    background-color: #292929;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.status {
    background-image: url("../img/preloader/preloader.gif");
    background-repeat: no-repeat;

    height: 75px;
    width: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;

}